<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand"><img src="../assets/inventory-system-image505.png" width="100px"></a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="employee" class="nav-link">Employee</a>
      </li>
      <li class="nav-item">
        <a routerLink="department" class="nav-link">Department</a>
      </li>
    </div>
  </nav>

  <div class="container mt-5">
    <h3 class="d-flex justify-content-center">Employee Management Portal </h3>
    <h5 class="d-flex justify-content-center">Welcome Admin!</h5>

    <router-outlet></router-outlet>
  </div>
</div>
<!-- <div class="container">

  <h3 class="d-flex justify-content-center">ASAP Employee Management Portal</h3>
    <h5 class="d-flex justify-content-center">Used Angular 10, Web API, AND SQL Server</h5>

    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
      <img class="avatar mat-elevation-z8" src="../assets/inventory-system-image505.png" width="100px" height="auto" />

    <ul class="navbar-nav">
        <li class="nav-item">
            <button routerLink="department"
            class="m-1 btn btn-light btn-outline-primary" Button>Departments</button>
        </li>

        <li class="nav-item">
            <button routerLink="employee"
            class="m-1 btn btn-light btn-outline-primary" Button>Employees</button>
        </li>
    </ul>
    </nav>

<router-outlet></router-outlet>

</div> -->
